p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

#enfase {
    font-size: large;
}

.enfase {
    font-size: large;
    color: red;
}

#espaco-da-introducao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

#introducao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(184, 184, 184);
    margin-inline: 25%;
}

#banner {

    height: 250px;
    object-fit: contain;
}

#beneficios {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    align-items: center;
}

#beneficios-lista {
    display: block;
    unicode-bidi: isolate;
    font-style: italic;
    display: list-item;
    font-size: smaller;
}

#ul-bene {}

#imagem {
    display: flex;
    width: 200px;
}