<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caioba Imóveis</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/PadraoDePagina.css">
    <link rel="stylesheet" href="../styles/Home.css">
</head>

<body>
    <nav>
        <header>
            <a href="https://basesocial.org"> <img src="../assets/logo.png" id="logo-top" alt=""></a>
            <ul>
                <a href="Home.html">
                    <li class="topodapagina">HOME</li>
                </a>
                <a href="Produtos.html">
                    <li class="topodapagina">PRODUTOS</li>
                </a>
                <li class="topodapagina">CONTATO</li>
            </ul>
        </header>
    </nav>
    <main>
        <div id="espaco-da-introducao">
            <div id="introducao"><img src="../assets/banner.jpg" id="banner" alt="">
                <p>Sobre a Marcenaria Caioba<br> Localizada no coração da cidade a Marcenaria Caioba traz para o mercado
                    o
                    que há de melhor em móveis <br>
                    planejados. Fundada em 2019, a Marcenaria Caioba já é destaque na cidade e conquista novos clientes
                    a
                    <br>
                    cada dia <br>
                    <span id="enfase">Nossa missão é: <span class="enfase">"Proporcionar auto-estima e qualidade de vida
                            aos
                            clientes".</span></span><br>
                    Oferecemos profissionais experientes e antenados às mudanças no mundo de design e arquitetura. O
                    <br>
                    atendimento possui padrão de escelência e agilidade, garantindo qualidade e satisfação dos nossos
                    <br>
                    clientes.
                </p>
            </div>
        </div>
        <div id="beneficios">
            <div>
                <h2>Benefícios</h2>
                <div>
                    <ul id="ul-bene">
                        <li id="beneficios-lista">Atendimento aos clientes</li><br>
                        <li id="beneficios-lista">Espaço diferenciado</li><br>
                        <li id="beneficios-lista">Localização</li><br>
                        <li id="beneficios-lista">Profissionais Qualificados</li><br>
                    </ul>
                </div>
                <div><img src="../assets/beneficios.jpg" id="imagem" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer id="Rodape">
        <div id="textura-rodape">
            <a href="https://basesocial.org"> <img src="../assets/logo-branco.png" id="logo-bottom" alt=""></a>
            <p id="texto-rodape">© Copyright Marcenaria Caioba</p>
        </div>

    </footer>
</body>

</html>