<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caioba Imóveis</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/Produtos.css">
    <link rel="stylesheet" href="../styles/PadraoDePagina.css">
</head>

<body>
    <nav>
        <header>
            <a href="https://basesocial.org"> <img src="../assets/logo.png" id="logo-top" alt=""></a>
            <ul>
                <a href="Home.html">
                    <li class="topodapagina">HOME</li>
                </a>
                <a href="Produtos.html">
                    <li class="topodapagina">PRODUTOS</li>
                </a>
                <li class="topodapagina">CONTATO</li>
            </ul>
        </header>
    </nav>
    <main>
        <div class="colunas-produtos">
            <div class="Produto-individual">

                <h3>Cozinha</h3>
                <img src="../assets/cozinha.jpeg" class="produtos-imagem" alt="">

            </div>
            <div class="Produto-individual">
                <h3>Banheiro</h3>
                <img src="../assets/banheiro.jpg" class="produtos-imagem" alt="">

            </div>
        </div>

        <div class="colunas-produtos">
            <div class="Produto-individual">
                <h3>Quarto</h3>
                <img src="../assets/quarto.jpeg" class="produtos-imagem" alt="">
            </div>

            <div class="Produto-individual">
                <h3>Escritório</h3>
                <img src="../assets/escritorio.jpeg" class="produtos-imagem" alt="">

            </div>
        </div>
        <div class="colunas-produtos">
            <div class="Produto-individual">
                <h3>Sala</h3>
                <img src="../assets/sala.jpg" class="produtos-imagem" alt="">
            </div>

            <div class="Produto-individual">
                <h3>Lavanderia</h3>
                <img src="../assets/lavanderia.jpg" class="produtos-imagem" alt="">
            </div>
        </div>
        </div>

    </main>
    <footer id="Rodape">
        <div id="textura-rodape">
            <a href="https://basesocial.org"> <img src="../assets/logo-branco.png" id="logo-bottom" alt=""></a>
            <p id="texto-rodape">© Copyright Marcenaria Caioba</p>
        </div>

    </footer>

</body>

</html>